<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | الحاج القارن</title>


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css">
    <link href="/stylesheets/application.css" rel="stylesheet">
    <link href="/stylesheets/steps.css" rel="stylesheet">

    <!-- Boostrap libraries -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="bower_components/aos/dist/aos.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


</head>
<nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="/" style="position: relative;left:150px"><h3>حجتي</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:1000px;">
          <a style="text-decoration: none;" class="nav-link" href="/agencies" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> وكالات سفر متاحة  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:1000px;">
          <a style="text-decoration: none;" class="nav-link" href="#" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> عرض المصحف الكريم  </h6>
          </button></a>
        </li>
        <li class="nav-item dropdown" style="position: relative;left:800px;">
          <div class="chip" style="background-color: rosybrown;">
          <img src="/images/avatar.png" alt="Person" width="96" height="96">
          <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
        <h6 style="color: white; position: relative;top: 5px;right: 9px;">USERNAME </h6> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">اكمال مراحلي</a>
            <a class="dropdown-item" href="/profile">عرض الملف الشخصي</a>
            <a class="dropdown-item" href="/logout">خروج</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section style="height: 600px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">
    <h1 style="text-align: center;color:white; position: relative;top: 100px;">المخطط المنطقي للحاج القارن</h1>
     
     <h3 style="text-align: center;color: white;position: relative;top: 350px;">بدء المراحل</h3>
     <div style="display: inline;position: relative;top: 120px;left: 150px;">
       <img src="/images/2.png" width="200" height="150">
       <img src="/images/4.png" width="200" height="150" >
       <img src="/images/3.png" width="200" height="150">
       <img src="/images/1.png" width="200" height="150">
       <img src="/images/5.png" width="200" height="150">
     </div>
    <div class="arrows"></div>
</section>  
    <!--SECTION2-------------------------------------------------------------------------------------------------->
    
    <section  style="height: 3550px;width: 90%; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top:40px;" >
        <h2 data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="color: #af5f61;position: relative;top: 150px;left: 800px;">قبل الثامن من ذي الحجة </h2>
       
        <form class="form" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
            <div class="inputGroup" style="display: block;width: 250px;">
              <input id="option1" name="option1" type="checkbox"/>
              <label for="option1">أتممت هذه المرحلة</label>
            </div>
        </form>
        <div class="box" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="height: 400px;">
        <h5>الإحرام بالحج والعمرة معاً من الميقات والتلبية بعد ذلك</h5>
        <h3>&#8595;</h3>
        <h5>طواف العمرة</h5>
        <h3>&#8595;</h3>
        <h5>ركعتا الطواف </h5>
        <h3>&#8595;</h3>
        <h5>الملتزم - زمزم</h5>
        <h3>&#8595;</h3>
        <h5>سعي العمرة</h5>
        <h3>&#8595;</h3>
        <h5>يبقى محرماً في مكة حتى الثامن من ذي الحجة</h5>
        </div>
          <!------------------------------------------------------------------->
      <h2 data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="color: #af5f61;position: relative;top:300px;left: 150px;">الثامن من ذي الحجة </h2>
      <form class="form" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <div class="inputGroup2" style="display: block;width: 250px;">
          <input id="option2" name="option1" type="checkbox"/>
          <label for="option2">أتممت هذه المرحلة</label>
        </div>
    </form>
      <div class="boxx" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <h1 style="position: relative;top: 80px;">ينطلق إلى منى بعد صلاة الفجر يصلي بها ( الظهر – العصر – المغرب – العشاء – وفجر اليوم التاسع) </h1 style="position: relative;top: 80px;">
    </div>

    <!------------------------------------------------------------------------------>
    <h2 data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="color: #af5f61;position: relative;top: 300px;left: 860px;"> التاسع من ذي الحجة</h2>
    <form class="form" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <div class="inputGroup3" style="display: block;width: 250px;">
          <input id="option3" name="option1" type="checkbox"/>
          <label for="option3">أتممت هذه المرحلة</label>
        </div>
    </form>
      <div class="boxxx" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <h4>الانطلاق إلى عرفات بعد صلاة الفجر</h4>
        <h5>&#8595;</h5>
        <h4>الوصول إلى عرفات</h4>
        <h5>&#8595;</h5>
        <h4>صلاة الظهر و العصر جمع تقديم بوقت الظهر</h4>
        <h5>&#8595;</h5>
        <h4>الإكثار من الذكر و الدعاء حتى غروب الشمس</h4>
        <h5>&#8595;</h5>
        <h4>الإفاضة من عرفات إلى مزدلفة بعد الغروب</h4>
        <h5>&#8595;</h5>
        <h4>صلاة المغرب و العشاء بمزدلفة جمع تأخير بوقت العشاء</h4>

     
    </div>   
    <!---------------------------------------------------------------------------------------->
    <h2 data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="color: #af5f61;position: relative;top:300px;left: 150px;">العاشر من ذي الحجة </h2>
    <form class="form" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <div class="inputGroup4" style="display: block;width: 250px;">
          <input id="option4" name="option4" type="checkbox"/>
          <label for="option4">أتممت هذه المرحلة</label>
        </div>
    </form>
      <div class="boxxxx" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" >
         <h4>السير إلى منى بعد صلاة الصبح و قبل طلوع الشمس</h4>
         <h5>&#8595;</h5>
         <h4>رمي جمرة العقبة</h4>
         <h5>&#8595;</h5>
         <h4>(الذبح (ذبح الهدي</h4>
         <h5>&#8595;</h5>
         <h4>الحلق أو التقصير</h4>
         <h5>&#8595;</h5>
         <h4>طواف الإفاضة</h4>
         <h5>&#8595;</h5>
         <h4>السعي </h4>
         <h5>&#8595;</h5>
         <h4>العودة إلى مِنى للمبيت</h4>

    <!------------------------------------------------------------------------------------------->

    <h2 data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic" style="color: #af5f61;position: relative;top: 400px;left: 100px;">من 11 - 13 ذي الحجة </h2>
    <form class="form" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <div class="inputGroup5" style="display: block;width: 250px;">
          <input id="option5" name="option1" type="checkbox"/>
          <label for="option5">أتممت هذه المرحلة</label>
        </div>
    </form>
      <div class="boxxxxx" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
       <h1>رمي الجمرات الثلاث ( الصغرى – الوسطى – الكبرى )</h1>
       <h3>&#8595;</h3>
       <h1>العودة إلى مكة لطواف الوداع</h1>
       <h3>&#8595;</h3>
       <h1 style="color: green;">نهاية الحج</h1>
      </div>
  <!---------------------------------------------------------------------------------------------->
  <div class="bfinal" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
      <h3>فائدة: في حال أراد الحاج القارن أن يقدم سعي الحج على طواف الإفاضة فبإمكانه
           ذلك بأن ينشئ طواف نفل قبل التوجه إلى منى ويسعى بعده سعي الحج</h3>
   </div>




     </div>

     </section>
  <!-- Footer ------------------------------------------------------------------------------->
  <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
         <h5 style="text-align:center; position: relative;top: 30px;">حمل تطبيق حجتي مجانا على</h5>
         <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://esi-sba.dz" style="text-decoration: none;color:black;">ESI SBA</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->








  <script>
      AOS.init();

  </script> 
</body>
</html>