<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | الحاج المفرد</title>


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css">
    <link href="/stylesheets/application.css" rel="stylesheet">

    <!-- Boostrap libraries -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="bower_components/aos/dist/aos.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<style>
    .box {
  width: 40%;
  height: 200px;
  background: orange;
  border-radius: 2px;
  padding: 10px;
  color: white;
  text-align: center;
  position: relative;
  top: 30px;
  left: 50px;
}

.arrows {
	 position: relative;
	/**/
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 80px;
	/**/
	 height: 80px;
	 transform: translate(-50%, -50%);
}
 .arrows:before {
	 content: '';
     position: absolute;
     top:200px;
	 width: 100%;
	 height: 100%;
	 border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
	 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
	 transform: translate(26.6666666667px, 106.6666666667px) rotate(-45deg);
	 animation: arrows 3s linear infinite;
}
.arrows:after {
	 content: '';
     position: absolute;
     top: 200px;
	 width: 100%;
	 height: 100%;
	 border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
	 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
	 transform: translate(53.3333333333px, 0px) rotate(-45deg);
	 animation: arrows 3s linear infinite -1.5s;
}
 @keyframes arrows {
	 0% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
		 transform: translate(-13.3333333333px, -53.3333333333px) rotate(-45deg);
	}
	 10%, 90% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
	}
	 50% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
		 transform: translate(-13.3333333333px, 0px) rotate(-45deg);
	}
	 100% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
		 transform: translate(-13.3333333333px, 53.3333333333px) rotate(-45deg);
	}
}
 

</style>

</head>
<nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="/" style="position: relative;left:150px"><h3>حجتي</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:1000px;">
          <a style="text-decoration: none;" class="nav-link" href="/agencies" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> وكالات سفر متاحة  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:1000px;">
          <a style="text-decoration: none;" class="nav-link" href="#" >   <button type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> عرض المصحف الكريم  </h6>
          </button></a>
        </li>
        <li class="nav-item dropdown" style="position: relative;left:800px;">
          <div class="chip" style="background-color: rosybrown;">
          <img src="/images/avatar.png" alt="Person" width="96" height="96">
          <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
        <h6 style="color: white; position: relative;top: 5px;right: 9px;">USERNAME </h6> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">اكمال مراحلي</a>
            <a class="dropdown-item" href="/profile">عرض الملف الشخصي</a>
            <a class="dropdown-item" href="/logout">خروج</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section style="height: 600px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">
    <h1 style="text-align: center;color:white; position: relative;top: 150px;">المخطط المنطقي للحاج المفرد </h1>
     
     <h3 style="text-align: center;color: white;position: relative;top: 350px;">بدء المراحل</h3>
    <div class="arrows"></div>
</section>  
    
    
    <section  style="height: 800px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px;position: relative;left: 75px;top:40px;background-color: rosybrown;" >
        <div class="box b" data-aos="zoom-in" data-aos-duration="3000" data-aos-easing="ease-in-out-cubic">
        <h2>Animated using <code>zoom-in</code>.</h2>
        </div>
     </section>









  <script>
      AOS.init();

  </script> 
</body>
</html>