<!DOCTYPE html>
 <html lang="en"> 
 <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي| العمرة</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!-- Templates core CSS -->
    <link rel="stylesheet" href="/public/stylesheets/hadj.css"  type="text/css">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<style>
  @charset "UTF-8";


.card-container {
  display: block;
  float: left;
  position: relative;
  left: 150px;
  width: 500px;
}

.card-container .card {
  margin: 20px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.card-container .card .card-count-container {
  display: block;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 20px 0px;
}
.card-container .card .card-count {
  font-weight: bold;
  font-size: 100px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  margin-right: -50px;
  padding-right: 25px;
  overflow: hidden;
  color: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
.card-container .card .card-content {
  padding: 20px;
  padding-top: 0px;
}
.card-container .card .card-content > h2 {
  margin-top: 0px;
  text-align: center;
}
.card-container .card .card-footer {
  padding: 20px;
  height: 60px;
  color: #fff;
}
.card-container .card:nth-child(1) .card-count, .card-container .card:nth-child(1) .card-footer {
  background-image: linear-gradient(90deg, #f6671f, #c01b1c);
}
.card-container .card:nth-child(2) .card-count, .card-container .card:nth-child(2) .card-footer {
  background-image: linear-gradient(90deg, #fec22f, #af5f61);
}
.card-container .card:nth-child(3) .card-count, .card-container .card:nth-child(3) .card-footer {
  background-image: linear-gradient(90deg, #6fc6a9, #058ba9);
}
.card-container .card:hover .card-count {
  width: 160px;
  height: 160px;
}

.content {
display: none;
}

@media (max-width: 767px) {
  .card-container {
    flex-wrap: wrap;
 }
}

     @font-face {
   font-family: "arab";
   src: url(/fonts/ae_cortoba.ttf) format("truetype");
   font-style: normal;
   font-weight: 100;
}
*{
  font-family: "arab";
}

</style>
  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="/" style="position: relative;left:150px"><img src="/images/logo.png" style="width: 150px;height: 150px;position: relative;right: 60px;top: 20px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:600px;">
          <a style="text-decoration: none;" class="nav-link" href="/Login" >   <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
              <h6 style="color: white;"> تسجيل الدخول  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:600px;">
          <a style="text-decoration: none;" class="nav-link" href="/register" >   <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
          <h6  style="color: white;">اشتراك</h6>
          </button></a>
        
      </ul>
    </div>
  </nav>
  <body style="overflow-x: hidden;">
<!--SECTION 1 ---------------------------------------------------------------------------------->
<section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 20px;">
    <h1 style="color: #af5f61	; text-align: center;position: relative;top: 50px;"> العمرة</h1>
 
<h4 style="position: relative;top:100px;text-align: center;padding: 40px;">.تعرّف العمرة في الاصطلاح الشرعي بأنّها عبادةٌ لله تقوم على عدّة أركانٍ لا بدّ من إتيانها، وتترتّب على العمرة الكثير من الفضائل، يُذكر منها: مغفرة الله -تعالى- للمعتمر الذي لا يرتكب المعاصي؛ قال النبي صلى الله عليه وسلم: (مَن أَتَى هذا البَيْتَ، فَلَمْ يَرْفُثْ، وَلَمْ يَفْسُقْ، رَجَعَ كما وَلَدَتْهُ أُمُّهُ)، والنص يشمل الحج والعُمرة على حدٍ سواءٍ، كما يُكفّر الله عن المعتمر الذنوب بين العمرتين، وينفي عنه الفقر، ويستجيب له دعاءه، ومن الأحاديث التي بيّنت ذلك قول النبي: (تابِعوا بينَ الحجِّ والعُمرةِ فإنَّهما ينفيانِ الفقرَ والذُّنوبَ كما ينفي الكيرُ خبَثَ الحديدِ والذَّهبِ والفِضَّةِ)، كما أنّ العُمرة بالنسبة للنساء بِمقام الجهاد للرجال، لحديث النبي الذي سألته فيه عائشة -رضي الله عنها- عن جهاد النساء فأجابها: (نعَم عليهِنَّ جِهادٌ لا قِتالَ فيهِ: الحجُّ، والعُمرةُ)
</h4>
</section>
<!----------------------------------------------SECTION 2------------------------------------------------------->
<section style="width: 90%;height: 1300px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 50px;">

    <h1 style="text-align: center;font-weight:bold;color: #af5f61;">مراحل العمرة</h1>

<div class="card-container">

<div class="card" style="height: 500px;position: relative;right: 120px;">
 <div class="card-count-container">
   <div class="card-count">1</div>
 </div>
 <img src="/images/2.png" style="position: relative;right: 10px; width:70%;height: 50%;bottom: 200px;"> 

 <div class="card-content" style="position: relative;bottom: 150px;">
   <h2>الاحرام</h2>
<p style="text-align: center;">يُعرّف الإحرام بأنّه نية الدخول في العمرة، ويُسنّ للمعتمر التلبية وتكون بقول: "لبيك اللهم لبيك"، وللإحرام شروطٌ ومحظوراتٌ ومُستحباتٌ

</p>
  </div>
 
 <div class="card-footer" style="position: relative;bottom: 100px;">
   <a onclick="funct();" href="#" ><h2 style="text-align: center; position: relative;bottom: 20px;color: white;">توجيهات الاحرام</h2></a>
  </div>
    
</div>
<section class="card" id="tawjih" style="display: none; width: 600px; height: 500px;background-color: #f8f4f0;box-shadow: 5px 10px rosybrown;position: absolute;left: 350px;bottom: 525px;" >
  <h4 style="text-align: center;">:حدد النبي صلى الله عليه و سلم 5 مواقيت للإحرام </h4>
  <h4 style="text-align: center;">ذو الحليفة، الجحفة، قرن المنازل،يلملم، ذات عرق</h4>
  <h5 style="text-align: right;">:لكن قبل الاحرام يجب فعل مايلي </h5>
  <h6 style="float: right;">  تقليم الأظافر و قص الشارب و إزالة شعر الابطين و العانة&larr;</h6>
  <h6 style="float:right;">غسل جميع البدن إذا تيسر ، بحيث الرجل يخلع الملابس المخيطة و يلبس ملابس الاحرام</h6>
  <h6 style="float: right;">  أما  المرأة  تخلع  البرقع  و  النقاب  و  القفازين  و ترتدي  الخمار  لتغطي  به  وجهها و  رأسها&larr; </h6>
  
  <h5 style="text-align: right; position: relative;top: 90px;left: 370px;"> :نية الحج</h5>
  <h6 style="float: right;position: relative;top: 50px;left: 30px;">بعد الانتهاء مما ذكر ينوي الدخول في النسك الذي يريده فإذا نوى الدخول في </h6>
  <h6 style="float: right;position: relative;top: 40px;left: 20px;">النسك يكون بذلك قد أحرم و لو لم يتلفظ بشيء و إن جعل نية الإحرام بعد صلاة </h6>
  <h6 style="float: right;position: relative;top: 30px;left:2px;">الفريضة فحسن و ان لم يكن وقت فريضة و صلى ركعتين ينوي بهما سنة الوضوء فلا    </h6>
  <h6 style="float: right;position: relative;top:25px;right: 10px;font-size: 13px;">..بأس و إذا كان نائبا في الحج عن غيره فإنه ينوي الحج عن ذلك الغير قائلا: لبيك اللهم لبيك عن فلان </h6>
  <h5 style="float: left;;position: relative;top: 50px;left: 500px;">:صفة لتلبية</h5>
  <h6 style="float: right;position: relative;top: 50px; color: green;text-align: center;">لبيك اللهم لبيك لبيك لا شريك لك لبيك إن الحمد و النعمة لك و الملك لا شريك لك.</h6>
  <h5 style="float: left;;position: relative;top: 50px;left: 500px;">:وقت التلبية</h5>
  <h6 style="float: right;position: relative;top: 80px; color: green;"> من الإحرام إلى أن يشرع في رمي جمرة العقبة صباح العيد</h6>

  <h5 style="position: relative;top: 80px; float: left;">للمزيد :<a href="/register">اشتراك</a></h5>

  </section>
  <script>
    function funct(){
      document.getElementById("tawjih").style.display="block"
    }
  </script>



<div class="card" style="height: 500px;position: relative;right: 120px;">
 <div class="card-count-container">
   <div class="card-count" style="background-color: #fec22f;">2</div>
 </div>
 <img src="/images/3.png" style="position: relative;right: 10px; width:70%;height: 40%;bottom: 200px;"> 
 <div class="card-content" style="position: relative;bottom: 150px;">
  <h2>الوقوف بعرفة</h2>
<p style="text-align: center;">ركن الحج الأعظم وأبرز خطوات الحج وبدونه لا يصحّ الحج، ويبدأ الحجاج بالدفع نحو جبل عرفة من بعد طلوع شمس التاسع من ذي الحجة، وينتهي بغروب شمس ذلك اليوم</p>
</div>
<div class="card-footer" style="position: relative;bottom: 100px;background-color: #fec22f;">
  <a href="#" onclick="funct2();"><h2 style="text-align: center; position: relative;bottom: 20px;color: white;">توجيهات الوقوف بعرفة</h2></a>
</div>
</div>
<section class="card" id="tawjih2" style="display: none; width: 600px; height: 500px;background-color: #f8f4f0;box-shadow: 5px 10px rosybrown;position: absolute;left: 350px;bottom: 5px;" >
  <h3 style="text-align: center; ">الوقوف بعرفة ركن لا يصح الحج إلا به</h3>
  <h3 style="text-align: center; color: green;">{قال صلى الله عليه وسلم:{الحج عرفة </h3>
    <br/>
  <h4 style="float: right;">: أعمال يوم التروية(قبل الوقوف بعرفة)8 من ذي الحجة</h4>
   <br/>
  <h6 style="float: right;position: relative;">يخرج المتمتع (بعد إحرامه) و القارن و المفرد جميعا إلى منى قبل الظهر&larr;</h6>
  <h6 style="float: right;">و يصلون الظهر و العصر و المغرب و العشاء قصرا و يبيتون ليلة 9 من ذي</h6>
  <h6 style="float: right;">.الحجة في منى و يصلون الفجر فيها</h6>
  <br/>
  <h6 style="float: right;">ينتظر الحجاج حتى تطلع الشمس فيسيرون  إلى عرفات بهدوء و سكينة &larr;</h6>
  <h5 style="float: right;">ملبيون و ذاكرون لله تعالى، فيقفون في جبل عرفات  من زوال الشمس</h5>
  <h5 style="float: right;">.أذان الظهر) إلى الغروب)</h5>

  <h3 style="position: relative;top: 150px;float: right;">للمزيد :<a href="/register">اشتراك</a></h3>
  </section>
  <script>
    function funct2(){
      document.getElementById("tawjih2").style.display="block"
    }
  </script>



 




</div>
<h1 style="position: relative;top: 1050px;right: 250px;">لتصفح بقية المراحل يرجى <a href="/register">الاشتراك</a></h3></h1>
<h4 style="position: relative;top: 1050px;right: 50px;">   لديك حساب <a href="/login">الدخول</a></h3></h4>

</section>
 
<!-- Footer ------------------------------------------------------------------------------->
<footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 300px;" >

 <!-- Footer Links -->
 <div class="container-fluid text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mt-md-0 mt-3">
     <h5 class="lang" key="playstore2" style="text-align:center; position: relative;top: 30px;left:50px;">حمل تطبيق حجتي مجانا على</h5>
     <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

      <!-- Content -->
      <h5 class="lang" key="login2" style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
      <a  style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/register"  >
        <button class="lang" key="reg1" type="button" class="btn btn-default" style="width: 100px;background-color: white;border-radius: 5px;"> 
        اشتراك
        </button></a>
    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3">

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">

      <!-- Links -->
      <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
      <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
      <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
      <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  


     

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">

      <!-- Links -->
      <h5 class="text-uppercase"></h5>

     

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  <hr style="border:none;border-left:1px solid bisque; height: 200px;position: relative;left:550px ;bottom: 150px;">

</div>

<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-2" style="position: relative;bottom: 130px;right: 50px;">© 2020 Copyright:
  <a href="https://esi-sba.dz/" style="text-decoration: none;color: white;" >ESI SBA</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->





</body>
</html>
