<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/slider.css" />
    <script src="/js/slider.js"></script>
    

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <style>
     @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');
 * {
	 box-sizing: border-box;
}

 @media screen and (max-width: 768px) {
	 html, body {
		 font-size: 12px;
	}
}
 

.container{
  position: relative;

  
}
 .popup {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: relative;
   bottom: 100px;
	 width: 50vw;
	 height: 50vh;
	 right: 20px;
	 z-index: 2;
	 visibility: hidden;
	 opacity: 0;
	 overflow: hiden;
	 transition: 0.64s ease-in-out;
}
 .popup-inner {
	 position: relative;
	 top: 80px;
	 right: -100vh;
	 display: flex;
	 align-items: center ;
	 max-width: 800px;
	 max-height: 600px;
	 width: 100%;
	 height: 110%;
	 background-color: white;
	 transform: rotate(32deg);
	 transition: 0.64s ease-in-out;
   border: 3px solid #af5f61;
   box-shadow:5px 10px rosybrown;
   border-radius: 10px;
}
 

 .popup:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup:target .popup-inner {
	 bottom: 0;
	 right: 0;
	 transform: rotate(0);
}
 .popup__close {
	 position: absolute;
	 right: -1rem;
	 top: -1rem;
	 width: 3rem;
	 height: 3rem;
	 font-size: 0.875rem;
	 font-weight: 300;
	 border-radius: 100%;
	 background-color: #0a0a0a;
	 z-index: 4;
	 color: #fff;
	 line-height: 3rem;
	 text-align: center;
	 cursor: pointer;
	 text-decoration: none;
}
 
   </style>
  </head>
  <nav> <%- include('header'); -%> 
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
 <br><br><br><br>
  <!--SECTION1------------------------------------------------------------------------------->
  <section style=" width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color:#DDC2BE;position: relative;left: 65px;top: 10px;">
    
    <img src="/images/kika.png" style="width: 1145px; height: 500px; border-radius: 25px; position: relative;top:0px;right:épx;">
    <div class="container" style="bottom: 500px;left: 500px;">
      <a class="button" href="#popup"><button id="zoom" style="border-radius: 17px;position: relative;left:100px;bottom:-45px;width:350px;height:40px;background-color:#af5f61;color: white;"><h3>معلومات الاحرام</h3>
      </button> </a>
      <div class="popup" id="popup">
        <div class="popup-inner">
          <div class="popup__text">

            <h4 style="padding-left: 450px;padding-top: 40px;" >:مطارالانطلاق</h4>
            <h4 style="padding-left: 460px;padding-top:30px;"> :مطارالوصول</h4>
            <h4 style="padding-left: 460px;padding-top:40px;">:مكان الاحرام</h4>

          </div>
          <!------------------------------IHRAM PLACES---------------------------------------------------->
          <%if (user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
          { %>
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> الجُحْفَة، ويُسمّى رابغ</h4>
           <% } %>    

           <%   if(user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
           { %>  
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> أبيار عليّ او ذو الحُلَيْفَة</h4>

        <% } %>
        <%   if(user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
           { %>  
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> الجُحْفَة، ويُسمّى رابغ</h4>

        <% } %>

        <!---------------------------------------2----------------------------------------------->
        <%if (user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
      <!---------------------------------------3-------------------------------------------------->
      <%if (user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة المكرمة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!---------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right: 400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!-------------------------------------------------------------------------------->
        
  
          <h6 style="padding-top: 40px;display: inline-block;position: absolute;right: 200px;white-space: nowrap;"><%= user.flight.arrivalAirport%></h6>
          <h6 style="padding-bottom: 110px;display: inline-block;position: absolute;right: 260px;white-space: nowrap;"><%= user.flight.departureAirport%></h6>



          <a class="popup__close" href="#">X</a>

        </div>
      </div>
      <a  href="<%= user.type%>"> 
  
      <button  id="zoom" style="margin-top: 0px; border-radius: 17px;position: relative;right:350px;bottom:330px;width: 350px;height:40px;background-color: #af5f61;color: white;">
        <h3> التوجه الى المراحل</h3>
      </button> </a> 
    </div>

    
    </section>






    <section style="position: relative;top: 50px;" >
      <h1 class="lang" key="discover" style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3" style="position: relative;right: 25px;"> 
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/t1.jpeg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t2.jpeg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t3.jpeg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>












   
    <!--SECTION4--------------------------------------------------------------------------------------------- -->
   
    
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 200px; height: 280px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
           <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            
          </div>
          <!-- Grid column -->

          
          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
            <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
            <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
  

           

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/"> ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  <script>
      $('.carousel').carousel();
      $(function() {
      function ratingEnable() {
        $('#example-1to10').barrating('show', {
      theme: 'bars-1to10'

          });}
           ratingEnable();
          });

     

  </script>
   <!---Boostrap libraries-->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>

    </body>
    </html>