<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/css/slider.css" />
    <script src="../public/js/slider.js"></script>
    

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
   <style>
     @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&subset=latin-ext');
 * {
	 box-sizing: border-box;
}

 @media screen and (max-width: 768px) {
	 html, body {
		 font-size: 12px;
	}
}
 

.container{
  position: relative;
  bottom: 500px;
  left: 500px;
}
 .popup {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 position: relative;
   bottom: 100px;
	 width: 50vw;
	 height: 50vh;
	 right: 20px;
	 z-index: 2;
	 visibility: hidden;
	 opacity: 0;
	 overflow: hiden;
	 transition: 0.64s ease-in-out;
}
 .popup-inner {
	 position: relative;
	 top: 80px;
	 right: -100vh;
	 display: flex;
	 align-items: center ;
	 max-width: 800px;
	 max-height: 600px;
	 width: 100%;
	 height: 110%;
	 background-color: white;
	 transform: rotate(32deg);
	 transition: 0.64s ease-in-out;
   border: 3px solid #af5f61;
   box-shadow:5px 10px rosybrown;
   border-radius: 10px;
}
 

 .popup:target {
	 visibility: visible;
	 opacity: 1;
}
 .popup:target .popup-inner {
	 bottom: 0;
	 right: 0;
	 transform: rotate(0);
}
 .popup__close {
	 position: absolute;
	 right: -1rem;
	 top: -1rem;
	 width: 3rem;
	 height: 3rem;
	 font-size: 0.875rem;
	 font-weight: 300;
	 border-radius: 100%;
	 background-color: #0a0a0a;
	 z-index: 4;
	 color: #fff;
	 line-height: 3rem;
	 text-align: center;
	 cursor: pointer;
	 text-decoration: none;
}
 
   </style>
  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="/" style="position: relative;left:150px"><img  id="zoom" src="/images/logo.png" style="width:200px;height: 160px;position: relative;top: 20px;right: 50px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="/agencies" >   <button  id="zoom" type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;"> وكالات سفر متاحة  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="/places" >   <button type="button"  id="zoom" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;">مواقع سياحية</h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:900px;">
          <a style="text-decoration: none;" class="nav-link" href="/advices" >  
         <button  id="zoom" type="button" style="background-color: #af5f61;border-radius: 20px 20px; height: 40px;position: relative;right: 700px;" class="btn btn-default"> 
          <h6 style="color: white;">نصائح و توجيهات</h6>
          </button></a>
        </li>
        <li class="nav-item dropdown" style="position: relative;left:350px;">
          <div class="chip" style="background-color: rosybrown;">
          <img src="/images/avatar.png" alt="Person" width="96" height="96">
          <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
        <h6 style="color: white; position: relative;top: 5px;right: 9px;"> <%= user.username %> </h6> 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <%if (user.type =='tama')
               { %>
              <a  href="/tama" style="text-decoration: none;color: black;position: relative;left: 20px;"> 
             <% } %> 
             <%if (user.type =='omra')
              { %>
               <a   href="/omra" style="text-decoration: none;color: black;position: relative;left: 20px;"> 
                <% } %> 
             <%if (user.type =='ikran')
                { %>
                <a   href="/ikran" style="text-decoration: none;color: black;position: relative;left: 20px;" >
                <% } %> 
               <%if (user.type =='ifrad')
                { %>
                <a  href="/ifrad" style="text-decoration: none;color: black;position: relative;left: 20px;">
               <% } %> مواصلة مراحلي</a>
            <a class="dropdown-item" href="/profile">عرض الملف الشخصي</a>
            <a class="dropdown-item" href="/logout">خروج</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
  <!--SECTION1------------------------------------------------------------------------------->
  <section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color:#DDC2BE;position: relative;left: 65px;top: 10px;">
    
    <img src="/images/kika.png" style="width: 1145px; height: 500px; border-radius: 25px; position: relative;top:0px;right:épx;">
    <div class="container">
      <a class="button" href="#popup"><button id="zoom" style="border-radius: 17px;position: relative;left:100px;bottom:-45px;width:350px;height:40px;background-color:#af5f61;color: white;"><h3>معلومات الاحرام</h3>
      </button> </a>
      <div class="popup" id="popup">
        <div class="popup-inner">
          <div class="popup__text">

            <h4 style="padding-left: 450px;padding-top: 40px;" >:مطارالانطلاق</h4>
            <h4 style="padding-left: 460px;padding-top:30px;"> :مطارالوصول</h4>
            <h4 style="padding-left: 460px;padding-top:40px;">:مكان الاحرام</h4>

          </div>
          <!------------------------------IHRAM PLACES---------------------------------------------------->
          <%if (user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
          { %>
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> الجُحْفَة، ويُسمّى رابغ</h4>
           <% } %>    

           <%   if(user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
           { %>  
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> أبيار عليّ او ذو الحُلَيْفَة</h4>

        <% } %>
        <%   if(user.flight.departureAirport =='مطار هواري بومدين الدولي' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
           { %>  
            <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;"> الجُحْفَة، ويُسمّى رابغ</h4>

        <% } %>

        <!---------------------------------------2----------------------------------------------->
        <%if (user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار محمد بوضياف الدولي' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
      <!---------------------------------------3-------------------------------------------------->
      <%if (user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار توات' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة المكرمة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار رابح بيطاط' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار مفدي زكريا' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!----------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار وهران' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!---------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار كريم بلقاسم' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!------------------------------------------------------------------------------->
        <%if (user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الملك عبد العزيز الدولي')
        { %>
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>
         <% } %>    

         <%   if(user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الامير بالمدينة')
         { %>  
          <h4 style="position: relative; right: 400px;top: 90px;white-space: nowrap;display: inline-block;">أبيار عليّ او ذو الحُلَيْفَة</h4>

      <% } %>
      <%   if(user.flight.departureAirport =='مطار تمنراست' && user.flight.arrivalAirport=='مطار الطائف الدولي بمكة')
         { %>  
          <h4 style="position: relative; right:400px;top: 90px;white-space: nowrap;display: inline-block;">الجُحْفَة، ويُسمّى رابغ</h4>

      <% } %>
        <!-------------------------------------------------------------------------------->
        
  
          <h6 style="padding-top: 40px;display: inline-block;position: absolute;right: 200px;white-space: nowrap;"><%= user.flight.arrivalAirport%></h6>
          <h6 style="padding-bottom: 110px;display: inline-block;position: absolute;right: 260px;white-space: nowrap;"><%= user.flight.departureAirport%></h6>



          <a class="popup__close" href="#">X</a>

        </div>
      </div>
      <%if (user.type =='tama')
      { %>
        <a  href="/tama">
     <% } %> 
     <%if (user.type =='omra')
     { %>
       <a  href="/omra">
    <% } %> 
    <%if (user.type =='ikran')
    { %>
      <a  href="/ikran">
   <% } %> 
    <%if (user.type =='ifrad')
      { %>
        <a  href="/ifrad">
     <% } %> 
      <button  id="zoom" style="border-radius: 17px;position: relative;right:350px;bottom:300px;width: 350px;height:40px;background-color: #af5f61;color: white;">
        <h3> التوجه الى المراحل</h3>
      </button> </a>
    </div>

    
    </section>



















   <!--SECTION 2------------------------------------------------------------------------------->
    <section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 65px;top: 100px;">
      
    
          <div style="background-color: white; width:400px;height: 400px;position: relative;left: 80px;top: 50px; border-radius:10px;box-shadow:5px 10px rosybrown;">
            <marquee behavior="scroll" direction="up">
              <h2 style="position: relative;bottom: 50px;">خبر 1</h2>

              <h2 style="position: relative;bottom: 20px;">خبر 2</h2>

              </marquee>
               <a href="#">   <button class="btn btn-primary" style="position: relative;top: 250px;left: 260px;background-color: #af5f61;" >تصفح المزيد</button></a>
          </div>
         <!-------------------------------->
          <div style="background-color: white; width:620px;height: 400px;position: relative;left: 500px;bottom: 350px; border-radius:10px;box-shadow:5px 10px rosybrown;">
            <marquee behavior="scroll" direction="left">
             <h1 style="padding-top: 100px;"> QUESTION 1 </h1>
             <h1 style="padding-top: 100px;"> QUESTION 2 </h1>

              </marquee>
               <a href="#">   <button class="btn btn-primary" style="position: relative;top: 30px;left: 480px;background-color: #af5f61;" >تصفح الاجوبة</button></a>
          </div>
          <!------------------------------>
      
      
    </section>
    <!---SECTION 3----------------------------------------------------------------------------->
    <section style="position: relative;top:150px;" >
      <h1 style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3" style="position: relative;right: 40px;"> 
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/t1.jpeg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t2.jpeg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t3.jpeg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>
    <!--SECTION4--------------------------------------------------------------------------------------------- -->
    <section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 180px; background-image:url(/images/back.png);background-size: cover;">
    <div >
    <form style="position:relative;left:20px">
      <h4 style="position: relative;left: 220px;color: white;">اترك لنا تعليق </h4>
      <h4 style="position: relative;left:840px;bottom:30px;color:white;">كيف تقيم حجتي</h4>
      <div class="padding">
        <div class="col-md-6">
            <div class="box box-orange box-example-1to10">
                <div class="box-header">التقييم من 1 الى 5</div>
                <div class="box-body"> <select id="example-1to10" name="rating" autocomplete="off">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                        </div>
                  </div>
                 </div>
              </div> 
      <h6 style="position: relative;left: 250px;bottom: 150px;color: white;">الموضوع</h6>
      <textarea name="subject" placeholder="ادخل الموضوع" style="height: 50px;position: relative;bottom: 150px;"></textarea>
      <h6 style="position: relative; bottom: 150px;left:250px;color: white;">المحتوى</h6>
      <textarea id="subject" name="content" placeholder="................................................كتابة......................................." 
      style="height:200px;position: relative;bottom: 150px;"></textarea>
  
      <input type="submit" value="ارسال" style="position: relative;bottom:100px;right:300px;">
  
    </form>
    </div>
    
    </section>
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 200px; height: 280px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
           <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            
          </div>
          <!-- Grid column -->

          
          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
            <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
            <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
  

           

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

      </div>

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/"> ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  <script>
      $('.carousel').carousel();
      $(function() {
      function ratingEnable() {
        $('#example-1to10').barrating('show', {
      theme: 'bars-1to10'

          });}
           ratingEnable();
          });

     

  </script>
   <!---Boostrap libraries-->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.2/jquery.barrating.min.js"></script>

    </body>
    </html>