<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي|Home</title>

    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="/home" style="position: relative;left:150px">حجتي</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:800px;">
          <a style="text-decoration: none;" class="nav-link" href="#" >   <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
          <h6 style="color: white;"> وكالات سفر متاحة  </h6>
          </button></a>
        </li>
        <li class="nav-item dropdown" style="position: relative;left:800px;">
          <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
        <h6 style="color: white;"> <%= data.username %> </h6> 
          </button></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">اكمال مراحلي</a>
            <a class="dropdown-item" href="/profile">عرض الملف الشخصي</a>
            <a class="dropdown-item" href="/logout">خروج</a>
            </div>
        </li>
        
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section id="hero" style="height: 500px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div class="nav2">
            <h1 style="text-align: center;position:relative;left:130px;color: white; top: 150px; animation: bounce; animation-duration: 5s;">شكرا لانضمامك لحجتي</h1> 
            <h1 style="text-align: center; position:relative;left:130px;color: white; top: 150px;animation: bounce; animation-duration: 5s;">دليلك الشامل في الحج و العمرة</h1>
           </div>
        </div>
        <div class="col-lg-7 order-1 order-lg-5 " >
          <img style="width: 700px; height: 450px; position: relative;bottom:60px;left:595px;" src="images/li.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>


  </section>
   <!--SECTION 2------------------------------------------------------------------------------->
    <section style="width: 90%;height: 800px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 20px;">
      <a style="text-decoration: none;" class="nav-link" href="#" >   <button type="button" style="background-color: #af5f61;position: relative;left: 580px;" class="btn btn-default"> 
        <h4 style="color: white;"> مواصلة المراحل </h4>
        </button></a>    
        <h3 style="text-align: center;color:#af5f61;">ليس بعد؟ اختر وجهتك</h3>
          <a href="/Go"><img class="zoom" style="width: 410px;height: 400px; float: left;position: relative;left: 200px;top:70px;" src="/images/4.png"></a>
          <h2 style="position: relative;left: 500px;top: 460px;color: #af5f61;">حج </h2>
       
       <a href="/Gh"> <img class=" zoom"style="width: 400px;height: 400px;float: right;position: relative;right: 200px;top:20px;" src="/images/3.png"></a>
       <h2 style="position: relative;right: 50px;top: 420px;color: #af5f61;">عمرة</h2></a>
      </section>
    <!---SECTION 3----------------------------------------------------------------------------->
    <section style="position: relative;top: 50px;" >
      <h1 style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3">
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/t1.jpeg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t2.jpeg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t3.jpeg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>
    <!--SECTION4--------------------------------------------------------------------------------------------- -->
    <section style="width: 90%;height: 400px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 130px;">
    <div class="container">
    <form >
      <h4 style="text-align: center;color: #af5f61;">اترك لنا تعليق</h4>
      <textarea id="subject" name="subject" placeholder=".........................................................................................................................................................كتابة....................................................................................................................................................." 
      style="height:200px;position: relative;top:30px;"></textarea>
  
      <input type="submit" value="ارسال" style="position: relative;top:40px">
  
    </form>
    </div>
    
    </section>
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;bottom:150px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 style="text-align:center; position: relative;top: 30px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 300px;"></a>

            <!-- Content -->
            <h5 style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
            <a style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/SignUp"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;"> 
              اشتراك
              </button></a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
     <script>
      $('.carousel').carousel()
    </script>
   <!---Boostrap libraries-->
    </body>
    </html>