<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>HIDJATI</title>

    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
    <a class="navbar-brand" href="#" style="position: relative;left:150px">حجتي</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;left:800px;">
          <a style="text-decoration: none;" class="nav-link" href="/Login" >   <button type="button" style="background-color: #00c099;" class="btn btn-default"> 
            تسجيل الدخول
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;left:800px;">
          <a style="text-decoration: none;" class="nav-link" href="/SignUp" >   <button type="button" style="background-color: #00c099;" class="btn btn-default"> 
          اشتراك
          </button></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section id="hero" style="height: 500px;width: 90%;border-radius: 30px; background-color: #00c099		;position: relative;left: 75px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div class="nav2">
            <h2 style="text-align: center;position:relative;left:130px;color: white; top: 30px; animation: bounce; animation-duration: 5s;">هل ستحج أو تعتمر؟</h2> 
            <h1 style="text-align: center;position:relative;left:130px;color: white; top: 30px; animation: bounce; animation-duration: 5s;">حجتي</h1>
            <h2 style="text-align: center; position:relative;left:130px;color: white; top: 30px;animation: bounce; animation-duration: 5s;">دليلك الشامل لإتمام ذلك</h2>
            <h4 style="text-align: center;position:relative;left:130px;color: white; top: 70px;">...للمزيد</h4>
            <a style="text-decoration: none;position: relative;top: 80px;left:230px;" class="nav-link" href="/SignUp"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;"> 
              اشتراك
              </button></a>
           
              <h6 style="position: relative;top: 150px;left: 400px;color: white;">  حمل تطبيق حجتي مجانا على</h6>
              <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 105px;left: 230px;"></a>
           </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-5 hero-img" >
          <img style="width: 400px; height: 400px; position: relative;top: 50px;" src="images/C.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>


  </section>
   <!--SECTION 2------------------------------------------------------------------------------->
    <section style="width: 90%;height: 500px; border-radius: 30px; background-color: #7fe0cd;position: relative;left: 75px;top: 20px;">
      <h2 style="color: #176655	; text-align: center;">ما هي وجهتك؟</h2>
      <a href="/Go"><img class="zoom" style="width: 410px;height: 400px; float: left;position: relative;left: 200px;bottom: 25px;" src="/images/4.png"></a>

     <h2 style="position: relative;left: 500px;top: 390px;color: #176655;">حج </h2>
       
       <a href="/Gh"> <img class=" zoom"style="width: 400px;height: 400px;float: right;position: relative;right: 200px;bottom: 80px;" src="/images/3.png"></a>
       <h2 style="position: relative;right: 50px;top: 350px;color: #176655;">عمرة</h2></a>
      </section>
    <!---SECTION 3----------------------------------------------------------------------------->
    <section style="position: relative;top: 50px;" >
      <h1 style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3">
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/tel.jpg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/tel.jpg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/tel.jpg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #176655;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 style="text-align:center; position: relative;top: 30px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 300px;"></a>

            <!-- Content -->
            <h5 style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
            <a style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/SignUp"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;"> 
              اشتراك
              </button></a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


   


    <script src="/public/js/main.js"></script>
    <script>
       function openForm() {
        document.getElementById("myForm").style.display = "block";
      }
      
      function closeForm() {    
        document.getElementById("myForm").style.display = "none";
      }
      $('.carousel').carousel()
    </script>
   <!---Boostrap libraries-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </body>
</html>
