<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي | Hidjati</title>

    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link  type="text/css"  rel="stylesheet" href="/stylesheets/application.css">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
   <a class="navbar-brand" href="/" style="position: relative;left:150px">  <img src="/images/logo.png" style="width:250px;height: 160px;position: relative;top: 20px;left: 850px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
        <li class="nav-item" style="position: relative;right:200px;">
          <a style="text-decoration: none;" class="nav-link" href="/Login" >   
            <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
          <h6 style="color: white;"> تسجيل الدخول  </h6>
          </button></a>
        </li>
        <li class="nav-item" style="position: relative;right: 200px;">
          <a style="text-decoration: none;" class="nav-link" href="/register" > 
              <button type="button" style="background-color: #af5f61;" class="btn btn-default"> 
        <h6 style="color: white;">اشتراك </h6> 
          </button></a>
         </li>
         
      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section id="hero" style="height: 500px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div class="nav2">
            <h2 style="text-align: center;position:relative;left:130px;color: white; top: 30px; animation: bounce; animation-duration: 5s;">هل ستحج أو تعتمر؟</h2> 
            <h1 style="text-align: center;position:relative;left:130px;color: white; top: 30px;font-family:arab; animation: bounce; animation-duration: 5s;">حجتي</h1>
            <h2 style="text-align: center; position:relative;left:130px;color: white; top: 30px;animation: bounce; animation-duration: 5s;">دليلك الشامل لإتمام ذلك</h2>
            <h4 style="text-align: center;position:relative;left:130px;color: white; top: 70px;font-family: arab;">...للمزيد</h4>
            <a style="text-decoration: none;position: relative;top: 80px;left:250px;" class="nav-link" href="/register"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;font-family: arab;"> 
              اشتراك
              </button></a>
           
              <h6 style="position: relative;top: 150px;left: 400px;color: white;">  حمل تطبيق حجتي مجانا على</h6>
              <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 105px;left: 230px;"></a>
           </div>
        </div>
        <div class="col-lg-7 order-1 order-lg-5 " >
          <img style="width: 570px; height: 450px; position: relative;bottom:260px;left:590px;" src="images/li.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>


  </section>
   <!--SECTION 2------------------------------------------------------------------------------->
    <section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 20px;">
      <h2 class="customfont" style="color: #af5f61	; text-align: center;">ما هي وجهتك؟</h2>
      <a href="/Go"><img class="zoom" style="width: 400px;height: 330px; float: left;position: relative;left: 200px;bottom: 25px;" src="/images/4.png"></a>

     <h2 style="position: relative;left: 400px;top: 320px;color: #af5f61;">حج </h2>
       
       <a href="/Gh"> <img class=" zoom"style="width: 380px;height: 330px;float: right;position: relative;right: 200px;bottom: 70px;" src="/images/3.png"></a>
       <h2 style="position: relative;right: 50px;top: 280px;color: #af5f61;">عمرة</h2></a>
      </section>
    <!---SECTION 3----------------------------------------------------------------------------->
    <section style="position: relative;top: 50px;" >
      <h1 style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3">
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/t1.jpeg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t2.jpeg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t3.jpeg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;height: 400px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 style="text-align:center; position: relative;top: 30px;left:50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            <h5 style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
            <a style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/SignUp"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;"> 
              اشتراك
              </button></a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 style="position:relative;right:50px;top:30px">تابع حجتي على</h5>

            <ul class="list-unstyled" style="position: relative;top: 40px;">
              <li>
                <a href="/Gh">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 200px;position: relative;left:550px ;bottom: 160px;">

      </div>

      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-2" style="position: relative;bottom: 150px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/">ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


   


    <script src="/public/js/main.js"></script>
    <script>
      $('.carousel').carousel()
    </script>
   <!---Boostrap libraries-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  </body>

</html>
