<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>حجتي | Hidjati</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link  type="text/css"  rel="stylesheet" href="/stylesheets/application.css">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/jquery.min.js"></script>    

  
  </head>
  <nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
   <a class="navbar-brand" href="/" style="position: relative;left:150px">  <img src="/images/logo.png"  id="zoom" style="width:250px;height: 160px;position: relative;top: 20px;left: 840px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <button id="en" class="translate" style="position:relative;left:50px;border-radius: 20px 0;background-color: #af5f61;color: white;border-color: rosybrown;">En</button>

        <li class="nav-item" style="position: relative;right:240px;" >
          <a  style="text-decoration: none;" class="nav-link" href="/Login" >   
            <button type="button" style="background-color: #af5f61;" class="btn btn-default"  id="zoom"> 
          <h6 class="lang" key="login" style="color: white;" > تسجيل دخول    </h6>
          </button></a>
        </li>
        <li  class="nav-item" style="position: relative;right: 250px;">
          <a style="text-decoration: none;" class="nav-link" href="/register" > 
              <button type="button" style="background-color: #af5f61;" class="btn btn-default"  id="zoom"> 
        <h6 class="lang" key="sign"  style="color: white;">اشتراك </h6> 
          </button></a>
         </li>
         <button id="ar" class="translate" style="position:relative;right:170px;border-radius: 20px 0;background-color: #af5f61;color: white;border-color: rosybrown;">Ar</button>

      </ul>
    </div>
  </nav>
  <body class="index" id="to-top" style="overflow-x: hidden;">
   
    <!-- Side nav -->
    <header>
    </header>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section id="hero" style="height: 500px;width: 90%;box-shadow:5px 10px rgb(66, 50, 50);border-radius: 30px; background-image:url(/images/back.png);background-size: cover		;position: relative;left: 75px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div class="nav2">
            <h2  class="lang" key="guide" id="dow" style="text-align: center; position:relative;left:150px;color: white; top: 150px;animation: bounce; animation-duration: 5s;">حجتي ...دليلك للحج و العمرة</h2>
            <h4  class="lang" id="more" key="more" style="text-align: center;position:relative;left:240px;color: white; top: 170px;font-family: arab;">...للمزيد</h4>
            <a href="/register" id="reg"  style="text-decoration: none;position: relative;top: 125px;left:270px;" class="nav-link" "  >
              <h4 class="lang" key="register" style="font-family: arab;color: antiquewhite;" > 
              اشتراك
              </h4></a>
           
              <h6 class="lang" key="playstore" style="position: relative;top: 320px;left: 200px;color: white;" id="tstore">  حمل تطبيق حجتي مجانا على</h6>
              <a href="#"><img src="/images/s.png" id="store" style="width: 150px;height: 45px;position: relative;top: 280px;left: 30px;" ></a>
           </div>
        </div>
        <div class="col-lg-7 order-1 order-lg-5 " >
          <img style="width: 530px; height: 400px; position: relative;bottom:108px;left:590px;" id="li1" src="images/li.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>


  </section>
   <!--SECTION 2------------------------------------------------------------------------------->
    <section style="width: 90%;height: 500px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 20px;">
      <h2 class="lang" key="direction" class="customfont" style="color: #af5f61	; text-align: center;">ما هي وجهتك؟</h2>
      <a href="/Go"><img class="zoom" style="width: 400px;height: 330px; float: left;position: relative;left: 100px;bottom: 25px;" src="/images/4.png"></a>

     <h2 class="lang" key="haj" style="position: relative;left: 400px;top: 320px;color: #af5f61;">حج </h2>
       
       <a href="/Gh"> <img class=" zoom"style="width: 380px;height: 330px;float: right;position: relative;right: 100px;bottom: 70px;" src="/images/3.png"></a>
       <h2 class="lang" key="omra" style="position: relative;right: 100px;top: 280px;color: #af5f61;">عمرة</h2></a>
      </section>
    <!---SECTION 3----------------------------------------------------------------------------->
    <section style="position: relative;top: 50px;" >
      <h1 class="lang" key="discover" style="text-align: center;">اكتشف تطبيق حجتي</h1>
      <div class="section-3" style="position: relative;right: 25px;"> 
        <div id="demo" class="carousel slide" data-ride="carousel" >

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/t1.jpeg" alt="pic1" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t2.jpeg"  alt="pic2" width="50" height="50">
            </div>
            <div class="carousel-item">
              <img src="/images/t3.jpeg"  alt="pic3" width="50" height="50">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev" >
            <span class="carousel-control-prev-icon" ></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next" >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        

      </div>
    </section>
     <!-- Footer ------------------------------------------------------------------------------->
     <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;height: 400px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 class="lang" key="playstore2" style="text-align:center; position: relative;top: 30px;left:50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            <h5 class="lang" key="login2" style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
            <a  style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/register"  >
              <button class="lang" key="reg1" type="button" class="btn btn-default" style="width: 100px;background-color: white;border-radius: 5px;"> 
              اشتراك
              </button></a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:130px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:120px;top:40px;width: 50px;height: 50px;">  
          <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:120px;top:40px;width: 50px;height: 50px;">
          <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:120px;top:40px;width: 50px;height: 50px;">  


          <a style="text-decoration:underline;color: white;" href="/register"><h5 class="lang" key="about" style="position:relative;left:370px;bottom:50px"> عن فريقنا </h5></a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 200px;position: relative;left:550px ;bottom: 160px;">

      </div>

      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-2" style="position: relative;bottom: 100px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/" style="text-decoration: none;color: white;">ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


   


    <script src="/public/js/main.js"></script>
    <script>
      $('.carousel').carousel()
    </script>




    
   <!---Boostrap libraries-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/IndexLang.js"></script>

  </body>

</html>
