<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | اعدادات</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kaaba01.png" />

     <!-- Boostrap libraries -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
     <link href="/stylesheets/application.css" rel="stylesheet">

 <!-- Google Fonts -->
 
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<style>
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 position: relative;
 height: 300px;

 bottom: 200px;
 width: 100%;
}  


.HajType {
  width: 150px;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 200px;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.button-pressure marquee {
  position: absolute;
  width: 90%;
  top: 125%;
  left: 5%;
  font: 18px/1 "Margarine", sans-serif;
}
.button-pressure marquee span {
  display: inline-block;
  height: 20px;
}


@keyframes rotate-nonstop {
  50% {
    transform: rotate(92deg);
  }
}

option{
  height:50px;
  color: #af5f61;
}


</style>


</head>
<nav class="navbar navbar-expand-lg  " style="background-color:white;height: 80px;">
  <a class="navbar-brand" href="/" style="position: relative;left:100px"><img src="/images/logo.png" style="width: 180px;height: 150px;position: relative;top: 20px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
  
      <li class="nav-item dropdown" style="position: relative;left:750px;">
        <div class="chip" style="background-color: rosybrown;">
        <img src="/images/avatar.png" alt="Person" width="96" height="96">
        <a style="text-decoration: none;" class="nav-link dropdown-toggle" href="/profile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  
      <h6 style="color: white; position: relative;top: 5px;right: 9px;"> <%= user.username %> </h6> 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/logout">خروج</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<body style="overflow-x: hidden;">
  <div class="main-container">

    <section  style="width: 90%;height: 800px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 10px; background-image:url(/images/back.png);background-size: cover;">

    <h1 style="text-align: center;color: white;">للمواصلة يجب اعداد ملفك</h1>
    <!---


    <h2 style="position: relative;left: 300px;bottom:10px;color: white;">حج </h2>
    <div class="item button-pressure" style="position: relative;left:50px;top: 20px;"><a ><button class="HajType "onclick="choose('ifrad')">الإفراد<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>من مناسك الحج </span><span> نية الحج وحده ثم الإعتمار بعد الفراغ  </span><span></span></marquee></button></a> 
    
    </div>
    
    <div class="item button-pressure" style="position: relative;left: 200px;bottom: 40px;"><a >
      <button  class="HajType "  onclick="choose('tama')">التمتع<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>العمرة وحدها ثم نية الحج</span></marquee></button></a>
    </div>
  
    <div class="item button-pressure" style="position: relative;left: 350px;bottom: 100px;"><a>
      <button class="HajType " onclick="choose('ikran')">القران<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>نية الحج و العمرة معا بعد يوم التروية </span></marquee></button></a>
    </div>
  -->

 <h6 style="color: white;position: relative;left: 400px; top: 200px;">لتحديد الميقات يرجى تاكيد هذه المعلومات</h6>
<button onclick="choose0()" class="btn btn-success" style="position: relative;top:200px;left:520px;" type="submit">تاكيد</button>


<div class="airport">

  <h5 style="position: relative;bottom: 10px;left: 800px;color: white;">مطار الانطلاق</h5>
<select id="select1" name="departureAirport"  size="2"  style="position: relative;bottom: 10px;left: 700px;overflow: scroll;margin: 0;border: 2px solid #ccc;font-size: 16px; -webkit-overflow-scrolling: touch;width: 400px;height: 100px;overflow-x: hidden;">
  <option value="مطار هواري بومدين الدولي" >
    مطار هواري بومدين الدولي
  </option>
  <option value="مطار محمد بوضياف الدولي">
    مطار محمد بوضياف الدولي
  </option>
  <option value="مطار توات">
    مطار توات
  </option>
  <option value="مطار رابح بيطاط">
    مطار رابح بيطاط
  </option>
  <option value="مطار مفدي زكريا">
    مطار مفدي زكريا
  </option>
  <option value="مطار وهران">
    مطار وهران الدولي
  </option>

  <option value=" مطار كريم بلقاسم  ">
    مطار كريم بلقاسم
  </option>
  <option value=" مطار تمنراست">
    مطار تمنراست
    <option>
  
</select>
<div>
<div class="air">
  <h5 style="position: relative;bottom: 150px;left: 140px;color: white;">مطار الوصول</h5>
  <select id="select2" name="arrivalAirport" size="2"  style="position: relative;bottom: 145px;left: 50px;overflow: scroll;margin: 0;border: 2px solid #ccc;font-size: 16px; -webkit-overflow-scrolling: touch;width: 400px;height: 100px;overflow-x: hidden;">
  <option value="مطار الملك عبد العزيز الدولي">  
    مطار عبد العزيز الدولي بمكة المكرمة
  </option>
  <option value="مطار الامير بالمدينة">
  مطار الأمير محمد بن عبد العزيز الدولي(المدينة المنورة)
</option>
  <option value="مطار الطائف الدولي بمكة">
    مطار الطائف الدولي (مكة المكرمة)
  </option>
  
  

</select>

</div>
<h4 style="color: white;position: relative;top: 50px;left: 480px;">اي مراحل تود اتباعها </h4>

<div  style="position: relative;left: 690px;top: 285px;">
  <a ><button class="btn btn-primary"  data-toggle="tooltip" data-placement="top" title="نية الحج و العمرة معا بعد يوم التروية" class="HajType " onclick="choose('ikran')">حج القران</button></a>
</div>
<img  style="width: 200px;height: 200px;position: relative;left: 200px;top:40px;" 
  src="/images/4.png" >
 <div class="item button-pressure" style="position: relative;left: 260px;top: 50px;"><a ><button class="btn btn-primary"  onclick="choose('omra')">العمرة</button></a>
 </div>
  <img style="width: 170px;height: 200px;position: relative;left: 750px;bottom: 200px;" src="/images/3.png"></a>
  <div style="position: relative;left:790px;bottom: 190px;">
    <a ><button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="نية الحج وحده ثم الإعتمار بعد الفراغ من مناسك الحج" class="HajType " onclick="choose('ifrad')">حج الإفراد</button></a>
  </div>
  
  <div class="item button-pressure"  data-toggle="tooltip" data-placement="bottom" title="العمرة وحدها ثم نية الحج " style="position: relative;left: 900px;bottom: 230px;">
    <a ><button class="btn btn-primary" class="HajType " onclick="choose('tama')">حج التمتع</button></a>
  </div>
  

</section>

 <!-- Footer ------------------------------------------------------------------------------->
 <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 100px; height: 280px;" >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
       <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
       <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

        <!-- Content -->
        
      </div>
      <!-- Grid column -->

      
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
        <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
        <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
        <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  


       

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"></h5>

       

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
    <a href="https://esi-sba.dz/"> ESI SBA</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</div>
  <script>
    a=1;
    function choose0(){
      if(document.getElementById('select1').value && document.getElementById('select2').value) {
        $.ajax({
          url: 'http://localhost:3000/init/Air',
          type: 'POST',
          cache: false,
          data:{id:'<%=user._id%>', air1: document.getElementById('select1').value, air2: document.getElementById('select2').value},
          success: function(data){
            alert('worked');
            a=0;
          },
          error: function(){
            alert('try to submit airport again');
          }
        });
      } else alert('airport required')
    }
    function choose(type){  
      if(!a){
    $.ajax({ 
          url: 'http://localhost:3000/init',
          type: 'POST',
          cache: false, 
          data: { id:'<%=user._id%>', type: type }, 
          success: function(data){
            $.ajax({ 
            url: 'http://localhost:4000/initDone',
            type: 'POST',
            cache: false,
            data: {user: data.user},
            success: function(data){
              alert('it work');
              window.location = '/'+type; //this is not working idk why but the initRouter is doing the job xD
            }
            , error: function(){
              alert('something went wrong in initDone');
              window.location = '/init'
              }
            });
          }
          , error: function(){
            alert('no resp from the api');
            window.location = '/init'
            }
          });
        } else {
          alert('airport required');
        }
    };


  </script>
</body>

</html>