<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حجتي | اعدادات</title>

     <!-- Boostrap libraries -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
 
     <link href="/stylesheets/application.css" rel="stylesheet">

 <!-- Google Fonts -->
 
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<style>
  


button {
  width: 150px;
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 200px;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.button-pressure marquee {
  position: absolute;
  width: 90%;
  top: 125%;
  left: 5%;
  font: 18px/1 "Margarine", sans-serif;
}
.button-pressure marquee span {
  display: inline-block;
  height: 20px;
}


@keyframes rotate-nonstop {
  50% {
    transform: rotate(92deg);
  }
}



</style>


</head>
<body style="overflow-x: hidden;">
    <section  style="width: 90%;height: 550px; box-shadow:5px 10px rosybrown; border-radius: 30px; background-color: #f8f4f0;position: relative;left: 75px;top: 70px; background-image:url(/images/back.png);background-size: cover;">

    <h1 style="text-align: center;color: white;">للمواصلة يجب اعداد ملفك</h1>
    <h3 style="text-align: center;color: white;position: relative;top: 30px;">اختر</h3>
    <a href="/Go"><img class="zoom" style="width: 300px;height: 200px; float: left;position: relative;left: 200px;top:40px;" src="/images/4.png"></a>
    <h2 style="position: relative;left: 700px;top: 10px;color: white;">حج </h2>
    <div class="item button-pressure" style="position: relative;left: 350px;top: 60px;"><a href="/ifrad" ><button >الإفراد<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>من مناسك الحج </span><span> نية الحج وحده ثم الإعتمار بعد الفراغ  </span><span></span></marquee></button></a> 
    
    </div>
    
    <div class="item button-pressure" style="position: relative;left: 550px;top:2px;"><a href="/ikran" ><button>التمتع<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>العمرة وحدها ثم نية الحج</span></marquee></button></a>
    </div>
  
    <div class="item button-pressure" style="position: relative;left: 770px;bottom: 60px;"><a href="/tama"><button>القران<marquee scrollamount="3" direction="right" style="font-size: 25px;"><span>نية الحج و العمرة معا بعد يوم التروية</span></marquee></button></a>
    </div>
 <a href="/Gh"> <img class=" zoom"style="width: 300px;height: 200px;float: right;position: relative;right: 250px;bottom:180px
 ;" src="/images/3.png"></a>
 <h1 style="position: relative;left: 750px;top: 20px;color: white;">&#8601;</h1>
 <h1 style="position: relative;left: 920px;bottom: 30px;color: white;">&#8595;</h1>
 <h1 style="position: relative;left: 1100px;bottom: 80px;color: white;">&#8600;</h1>
 <h2 style="position: relative;left:280px;bottom: 400px;color: white;">عمرة</h2></a>
    
    </section>
 <!-- Footer ------------------------------------------------------------------------------->
 <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;" >

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
       <h5 style="text-align:center; position: relative;top: 30px;">حمل تطبيق حجتي مجانا على</h5>
       <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://esi-sba.dz" style="text-decoration: none;color:black;">ESI SBA</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

>
</body>
</html>