<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>تسجيل الدخول | حجتي</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>    


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <body style="background-image: url(/images/back.png);background-size: cover;overflow-x: hidden;">
    <nav > <%- include('header2'); -%> 
    </nav>


    <!--SECTION 1------------------------------------------------------------------------------>
  <section style="height: 700px;"  >

    
    <a href="/"> <img src="/images/logo.png" style="width: 300px;height: 200px;position: relative;right: 60px;top: 30px;"></a>
    <img src="/images/qu.png" style="width: 400px;height: 300px;position: relative;top: 150px;right: 240px;">
    <div class="container" style="float: lef;">
      <div class="row">

<div class="row justify-content-center">
    <div class="col-md-6">
 
    <div class="card" style="position: relative;left: 550px; width: 300px;bottom:200px;">
      
      <header class="card-header" style="height: 60px;background-color: #DDC2BE;">
        <a  style="text-decoration: none;" class="nav-link" href="/register" >   
        <button type="button" style="background-color: #af5f61;position: relative;left: 170px;bottom:10px;" class="btn btn-default"  id="zoom"> 
          <h6 class="lang" key="login" style="color: white;" >اشتراك</h6>
          </button></a>    
        <h4  class="lang" key="login" style="position: relative;bottom:55px;" >الدخول</h4>
    </header>
    <article class="card-body">
    <form action="/login" method="post">

        
        <div class="form-group">
            <label class="lang" key="email">البريد الالكتروني  </label>
            <input type="email" class="form-control" placeholder="" name="email">
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label class="lang" key="mdp"> كلمة السر</label>
            <input class="form-control" type="password" name="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button type="submit" class="lang" key="login" style="border-radius: 10px;position:relative;left: 80px;width: 100px;"id="zoom">  دخول </button>
        </div> <!-- form-group// -->      
       <!--- <small class="text-muted"><br> كل الحقوق محفوظة</small>  -->                                        
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center" ><h6 class="lang" key="noacc"> ليس لديك حساب؟ </h6>  <a href="/register" class="lang" key="register">اشتراك</a></div>
    <div class="border-top card-body text-center" ><a href="/forgetpasswd" class="lang"  key="reset">هل نسيت كلمة المرور؟</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
    </div> 
        </div>
      </div>
    </div>


  </section>
   <!-- Footer ------------------------------------------------------------------------------->
   <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;position: relative;top: 200px; height: 280px;" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3" style="position: relative;right: 150px;">
         <h5 style="text-align:center; position: relative;top: 30px;left: 50px;">حمل تطبيق حجتي مجانا على</h5>
         <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

          <!-- Content -->
          
        </div>
        <!-- Grid column -->

        
        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
          <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
          <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
          <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  


         

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase"></h5>

         

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
      <hr style="border:none;border-left:1px solid bisque; height: 150px;position: relative;left:550px ;bottom: 90px;">

    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="position: relative;bottom: 70px;">© 2020 Copyright:
      <a href="https://esi-sba.dz/"> ESI SBA</a>
    </div>
    
    <!-- Footer -->
    <script type="text/javascript" src="/js/LoginLang.js"></script>

  </body>
  </html>