<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>HIDJATI</title>

    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <body style="background-image: url(/images/back.png);background-size: cover;">
    <a href="/"> <img src="/images/logo.png" style="width: 300px;height: 200px;position: relative;left: 50px;top: 20px;"></a>
    <!--SECTION 1------------------------------------------------------------------------------>
  <section  >

    <div class="container" style="float: lef;">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center" style="color: white;">
          <div class="nav2" style=" position: relative;bottom: 70px; right: 200px;">
            <h1 style="text-align: center;position:relative; top: 30px; animation: bounce; animation-duration: 5s;">حجتي</h1>
            <h2 style="text-align: center; position:relative; top: 30px;animation: bounce; animation-duration: 5s;">دليلك للحج  و العمرة</h2>
            <h4 style="text-align: center; position:relative; top: 100px;animation: bounce; animation-duration: 5s;">املا خانات المعلومات للدخول    
            </h4>

           
           <h6 style="position: relative;bottom: 620px; left: 400px;">حمل الآن مجانا تطبيق حجتي</h6>
            
           </div>
        </div>
        
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card" style="position: relative;left: 500px; width: 300px;bottom:50px;">
    <header class="card-header">
        <a href="/register" class="float-right btn btn-outline-primary mt-1">اشتراك</a>
        <h4 class="card-title mt-2">الدخول</h4>
    </header>
    <article class="card-body">
    <form action="/login" method="post">
        
        <div class="form-group">
            <label>البريد الالكتروني   </label>
            <input type="email" class="form-control" placeholder="" name="email">
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label>ادخل كلمة السر</label>
            <input class="form-control" type="password" name="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">  دخول </button>
        </div> <!-- form-group// -->      
       <!--- <small class="text-muted"><br> كل الحقوق محفوظة</small>  -->                                        
    </form>
    </article> <!-- card-body end .// -->
    <div class="border-top card-body text-center"> ليس لديك حساب؟  <a href="/register">اشتراك</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
    </div> 
        </div>
      </div>
    </div>


  </section>
   <!-- Footer ------------------------------------------------------------------------------->
    <footer class="page-footer font-small blue pt-4" style="background-color: rosybrown;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 style="text-align:center; position: relative;top: 30px;left:50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 250px;"></a>

            <!-- Content -->
            <h5 style="text-align:justify;position: relative;bottom: 45px;left: 30px;">اشترك للمزيد</h5>
            <a style="text-decoration: none;position: relative;bottom: 35px;left: 30px;" class="nav-link" href="/register"  >
              <button type="button" class="btn btn-default" style="width: 100px;background-color: white;"> 
              اشتراك
              </button></a>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/">ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </body>
  </html>