<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>إشتراك | حجتي</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="stylesheets/register_theme.css" rel="stylesheet">
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <body style="background-image: url(/images/back.png);background-size: cover;overflow-x: hidden;">
    <nav>
      <%- include('header'); -%> 
    </nav>
    <section>
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="border-left: 100px;"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto">
        
                    <form class="form-signup" action="/register" method="post" style="background-color: ivory; border-radius: 2rem; padding: 1rem 1rem 1rem 1rem;">
                      <h3 class="login-heading mb-4" style="text-align: center;">فتح حساب</h3>
                      <hr><hr>
                      <div class="form-label-group">
                        <input type="text" id="fname" name="first_name" class="form-control" placeholder="الإسم" required autofocus>
                        <label  for="fname">الإسم</label>
                      </div>
   
      
                      <div class="form-label-group">
                        <input type="text" id="lname" name="last_name" class="form-control" placeholder="اللقب" required autofocus>
                        <label for="lname">اللقب</label>
                      </div>
  
                      <div class="form-label-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="اسم المستخدم" required autofocus>
                        <label for="username"> اسم المستخدم</label>
                      </div>
  
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="البريد الإلكتروني" required autofocus>
                        <label for="inputEmail">البريد الإلكتروني</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="كلمة السر" required autofocus>
                        <label for="inputPassword">كلمة السر</label>
                      </div>
                      
                      <hr>
                      <div style="background-color: azure; padding: 1em; position:absolute; border-radius: 2rem; padding-top: 1.5rem; ">
                        <label for="male">ذكر</label>
                        <input style="margin: 0 30px 0 10px;" type="radio" id="male" name="genderM" value="male" autofocus>
                        <label for="female">أنثى</label>
                        <input style="margin: 0 10px 0 10px;" type="radio" id="female" name="genderF" value="female">
                        
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
  
                     <div class="form-label-group">
                      <select  class="form-control custom-select" style="border-radius: 2rem; width: 100%;" >
                          <option value="" selected="" hidden disabled>إختر بلدك</option>
                          <option value="dz" >الجزائر</option>
                          <option value="tn">تونس</option>
                          <option value="mr">المغرب</option>
                          
                      </select>
                  </div>
                    
                     
  

                      
 
      
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">إنشاء حساب</button>
                      <div class="text-center">
                        <a class="small" href="/login">لديك حساب ؟ سجل الدخول </a></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
    <!-- Footer ------------------------------------------------------------------------------->
    <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;height: 400px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 class="lang" key="playstore" style="text-align:center; position: relative;top: 30px;right:50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 150px;"></a>

            <!-- Content -->
            
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
            <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
            <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
  

           

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 200px;position: relative;left:550px ;bottom: 100px;">

      </div>

      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-2" style="position: relative;bottom: 50px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/">ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script type="text/javascript" src="/js/LoginLang.js"></script>

  </body>
  </html>