<!DOCTYPE html>
 <html lang="en"> 
 <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Hidjati | جحتي</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/kab.png" />


    <!--Animate.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <!-- Templates core CSS -->
    <link href="/stylesheets/application.css" rel="stylesheet">
    <!-- Boostrap libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Web-site/test/public/jquery.min.js"></script>    



<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  </head>
  <body style="background-image: url(/images/back.png);background-size: cover;overflow-x: hidden;">
    <button id="en" class="translate" style="position:relative;left:720px;border-radius: 20px 0;background-color:rosybrown;bottom:70px;border-color: rosybrown;">English</button>
    <button id="ar" class="translate" style="position:relative;left:720px;border-radius: 20px 0;background-color:rosybrown;bottom:70px;border-color: rosybrown;">Arabic</button>
    <a href="/"> <img src="/images/logo.png" style="width: 300px;height: 200px;position: relative;right: 60px;top: 30px;"></a>
    <img src="/images/qu.png" style="width: 400px;height: 300px;position: relative;top: 150px;right: 240px;">      <!--SECTION 1------------------------------------------------------------------------------>
  <section id="hero" >

    <div class="container" style="float: lef;">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          
        </div>
        
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card" style="position: relative;left: 550px; width: 400px;bottom: 200px;">
    <header class="card-header" style="height: 60px;background-color: #DDC2BE;">
      <a  style="text-decoration: none;" class="nav-link" href="/Login" >   
      <button type="button" style="background-color: #af5f61;position: relative;left: 230px;bottom:10px;" class="btn btn-default"  id="zoom"> 
        <h6 class="lang" key="login" style="color: white;" > تسجيل دخول    </h6>
        </button></a>    
        
        
        <h4 class="lang" key="register" style="position: relative;bottom:50px;">الاشتراك</h4>
    </header>
    <article class="card-body" >
    <form action="/register" method="post">
        <div class="form-column" style="position: relative;right: 20px;width: 500px;">
            <div class="col form-group">
                <label class="lang" key="fname">الاسم </label>   
                  <input type="text" class="form-control" placeholder="" name="first_name">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label class="lang" key="lname">اللقب</label>
                  <input type="text" class="form-control" placeholder="" name="last_name">
            </div>
            <div class="col form-group">
                <label style="position: relative;bottom: 20px;" class="lang" key="username">اسم المستخدم</label>
                  <input type="text" style="position: relative;bottom: 20px;"class="form-control" placeholder="" name="username">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
            <label style="position: relative;bottom: 30px;" class="lang" key="email">البريد الالكتروني</label>
            <input type="email" class="form-control" placeholder="" name="email" style="position: relative;bottom: 40px;right: 5px;">
            <small class="form-text text-muted" style="position: relative;bottom: 40px;">نتعهد بالخصوصية التامة</small>
        </div> <!-- form-group end.// -->
        <div class="form-group" style="position: relative;bottom: 45px;">
                <label class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="genderM" value="male">
              <span class="form-check-label"><h6 class="lang" key="male"> ذكر </h6> </span>
            </label>
            <label class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="genderF" value="female">
              <span class="form-check-label"><h6 class="lang" key="female"> انثى </h6></span>
            </label>
        </div> <!-- form-group end.// -->
        <div class="form-row" style="position: relative;bottom: 60px;">

            <div class="form-group col-md-6">
              <label class="lang" key="country">البلد</label>
              <select id="inputState" class="form-control">
                <option class="lang" key="choose"> اختر</option>
                  
                  <option selected="" class="lang" key="alg">الجزائر</option>
                  <option class="lang" key="mrc">المغرب</option>
                  <option class="lang" key="tun">تونس</option>
              </select>
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-group" style="position: relative;bottom: 60px;">
            <label class="lang" key="mdp"> كلمة السر</label>
            <input class="form-control" type="password" name="password">
        </div> <!-- form-group end.// -->  
        <div class="form-group" style="position: relative;bottom: 70px;">
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #af5f61;"><h6 class="lang" key="register"> اشتراك </h6> </button>
        </div> <!-- form-group// -->      
    </form>
    </article> <!-- card-body end .// -->
    <div  style="position: relative;bottom: 100px;text-align: center;"><h6 class="lang" key="noacc">لديك حساب؟ </h6><a href="/Login" class="lang" key="login" style="text-decoration: underline;">دخول</a></div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    
    </div> <!-- row.//-->
    
    
    </div> 
        </div>
      </div>
    </div>


  </section>
    <!-- Footer ------------------------------------------------------------------------------->
    <footer class="page-footer font-small blue pt-4" style="background-color: #af5f61;height: 400px;" >

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
           <h5 class="lang" key="playstore" style="text-align:center; position: relative;top: 30px;right:50px;">حمل تطبيق حجتي مجانا على</h5>
           <a href="#"><img src="/images/s.png" style="width: 150px;height: 45px;position: relative;top: 50px;left: 150px;"></a>

            <!-- Content -->
            
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="lang" key="follow" style="position:relative;left:215px;top:30px">تابع حجتي على</h5>
            <img src="/images/fb.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
            <img src="/images/insta.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">
            <img src="/images/linked.png" class="lang" key="follow" style="position:relative;left:200px;top:40px;width: 50px;height: 50px;">  
  

           

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase"></h5>

           

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <hr style="border:none;border-left:1px solid bisque; height: 200px;position: relative;left:550px ;bottom: 100px;">

      </div>

      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-2" style="position: relative;bottom: 50px;">© 2020 Copyright:
        <a href="https://esi-sba.dz/">ESI SBA</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script type="text/javascript" src="/js/LoginLang.js"></script>

  </body>
  </html>