<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Title -->
    <title>Guri Guri Nyoi &mdash; Bootstrap 3 iPhone App Templates</title>

    <!-- Templates core CSS -->
    <link href="/public/stylesheets/application.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="/public/images/favicon/favicon.png" rel="shortcut icon">
    <link href="/public/images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="/public/images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/public/images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">
	<link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="/public/javascript/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body class="index" id="to-top">

    <!-- Side nav -->
    <nav class="side-nav" role="navigation">

      <ul class="nav-side-nav">
        <li><a class="tooltip-side-nav" href="#section-1" title="" data-original-title="Services" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#section-2" title="" data-original-title="Features" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#section-3" title="" data-original-title="Subscribe" data-placement="left"></a></li>
        <li><a class="tooltip-side-nav" href="#to-top" title="" data-original-title="Back" data-placement="left"></a></li>
      </ul>
      
    </nav> <!-- /.side-nav -->

    <!-- Jumbotron -->
    <header class="jumbotron" role="banner">

		<div class="container">
  
		  <div class="row">
  
			<div class="col-md-7">
  
			  <!-- Logo -->
			  <figure class="text-center">
				<a href="#">
				  <img class="img-logo" src="/public/logo.png" alt="">
				</a>
			  </figure> <!-- /.text-center -->
  
			  <!-- Title -->
			  <h1>Your awesome title here</h1>
  
			  <!-- Sub title -->
			  <p>Architecto numquam perspiciatis commodi laboriosam quod debitis placeat maxime quaerat soluta quia porro dicta sunt nemo voluptates!</p>
  
			  <!-- Button -->
			  <p class="btn-app-store">
				<a class="btn btn-danger btn-lg" href="#fakelinks">
				  <img src="/public/images/btn-app-store.png" alt="">
				</a>
			  </p> <!-- /.btn-app-store -->
  
			</div> <!-- /.col-md-7 -->
  
			<div class="col-md-5">
  
			  <!-- Images showcase -->
			  <figure>
				<img class="img-iPhone" src="/public/images/iphone/2.png" alt="">
			  </figure>
  
			</div> <!-- /.col-md-5 -->
			
		  </div> <!-- /.row -->
		  
		</div> <!-- /.container -->
  
	  </header> <!-- /.jumbotron -->
  
  
  
  
	  <!-- Services -->
	  <section class="services-section" id="section-1">
  
		<div class="container">
  
		  <div class="row">
  
			<div class="col-md-4 col-services">
			  
			  <!-- Icons -->
			  <figure>
				<img class="img-services" src="/public/images/icons/flag.png" alt="">
			  </figure>
  
			  <!-- Title -->
			  <h4>Flag</h4>
  
			  <!-- Description -->
			  <p>Harum sunt atque quod reprehenderit voluptates dolores nisi quas dolorum ipsa ad consequatur impedit.</p>
  
			</div> <!-- /.col-md-4 -->
  
			<div class="col-md-4 col-services">
			  
			  <!-- Icons -->
			  <figure>
				<img class="img-services" src="/public/images/icons/search.png" alt="">
			  </figure>
  
			  <!-- Title -->
			  <h4>Search</h4>
  
			  <!-- Description -->
			  <p>Quaerat, quisquam, perspiciatis, ipsam eveniet a ducimus repellat rem nobis similique.</p>
  
			</div> <!-- /.col-md-4 -->
  
			<div class="col-md-4 col-services">
			  
			  <!-- Icons -->
			  <figure>
				<img class="img-services img-margin" src="/public/images/icons/world-map.png" alt="">
			  </figure>
  
			  <!-- Title -->
			  <h4>World Map</h4>
  
			  <!-- Description -->
			  <p>Aperiam iure doloremque tempora explicabo praesentium eos dicta laudantium corrupti ipsam.</p>
  
			</div> <!-- /.col-md-4 -->
			
		  </div> <!-- /.row -->
		  
		</div> <!-- /.container -->
		
	  </section> <!-- /.services-section -->
  
  
  
  
	  <!-- Features -->
	  <section class="features-section" id="section-2">
  
		<div class="container">
  
		  <div class="row">
  
			<div class="col-md-5 col-features text-center">
			  
			  <!-- Images showcase -->
			  <figure>
				<img class="img-iPhone" src="/public/images/iphone/1.png" alt="">
			  </figure>
  
			</div> <!-- /.col-md-5 -->
  
			<div class="col-md-7 col-features features-content">
			  
			  <!-- Title -->
			  <h3 id="title-1">First title features</h3>
  
			  <!-- Description -->
			  <p>Omnis, esse quo natus soluta minima facilis ratione dignissimos necessitatibus quod dolorem labore molestiae maxime veritatis laudantium aut odio ullam laboriosam autem!</p>
  
			  <p>
				<a class="btn btn-danger" href="#title-2">Learn more</a>
			  </p>
  
			</div> <!-- /.col-md-7 -->
			
		  </div> <!-- /.row -->
  
  
  
  
		  <div class="row media-screen-800">
  
			<div class="col-md-7 col-features features-content">
			  
			  <!-- Title -->
			  <h3 id="title-2">Second title features</h3>
  
			  <!-- Description -->
			  <p>Omnis, esse quo natus soluta minima facilis ratione dignissimos necessitatibus quod dolorem labore molestiae maxime veritatis laudantium aut odio ullam laboriosam autem!</p>
  
			  <p>
				<a class="btn btn-danger" href="#">Sign In</a> &nbsp;
				<a class="btn btn-danger-border" href="#">Sign Up</a>
			  </p>
  
			</div> <!-- /.col-md-7 -->
  
			<div class="col-md-5 col-features text-center">
			  
			  <!-- Images showcase -->
			  <figure>
				<img class="img-iPhone margin-top margin-screen-800" src="/public/images/iphone/4.png" alt="">
			  </figure>
  
			</div> <!-- /.col-md-5 -->
			
		  </div> <!-- /.row -->
  
  
  
  
		  <div class="row">
  
			<div class="col-md-5 col-features text-center">
			  
			  <!-- Images showcase -->
			  <figure>
				<img  class="img-iPhone margin-top margin-top-1" src="/public/images/iphone/3.png" alt="">
			  </figure>






<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="/public/javascript/vendor/jquery-2.1.0.min.js"></script>
 <script src="/public/javascript/bootstrap.min.js"></script>
 <script src="/public/javascript/assets/application.js"></script>

</body>
</html>